@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(72, 107, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}
section {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
}
h1{
    line-height: 55px;
    font-size: 2em;
    margin: 20px;
    padding-top: 20px;
}
form {
    padding: 20px;
}
.enviar{
    width: 90px;
    height: 30px;
    margin-top: 10px;
}
form, form > p {
    display: flex;
    flex-direction: column;
}
#linhas, #colunas, .lei {
    width: 180px;
    padding: 5px;
    margin: 10px 0;
}



/*  tabela  */
td {
    padding: 10px;
    min-width: 40px;
    vertical-align: middle;
    text-align: center;
}
table {
    max-width: 400px;
    margin: auto;
    padding-bottom: 40px;
}