body{
    font: normal 16px georgia;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
h1{
    text-align: center;
}
div#op {
    font: normal 40px georgia;
    color: white;
    background: black;
    line-height: 70px;
    text-align: center;
    height: 70px;
    margin: 150px auto;
    width: 400px; 
    box-shadow: 0 1px 30px rgb(11, 11, 90);
    border-radius: 30px;
}
div#sds{
    font: normal 40px georgia;
    background: rgb(210, 144, 2);
    margin-top: 40px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    width: 400px;
    margin: 50px auto; 
    box-shadow: 0 1px 20px rgb(188, 47, 8);
    border-radius: 30px; 
    color: black;
}
#sds:hover {
    box-shadow: 0 0 70px rgb(188, 47, 8);
}
#op:hover {
    box-shadow: 0 0 70px rgb(11, 11, 90);
}