<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <p>formulario para testar middleware</p>
        <form action="/" method="post">
            <label for="">cliente</label>
            <input type="text" name="cliente">
            <button>submit</button>
        </form>
    </section>
    <script src="assets/js/bundle.js"></script>
</body>
</html>